<h1>large font</h1>

<p> paragraph tag </p>

<% @players.each do |player| %>
  <p><%= player.name %></p>
  <p><%= player.position %></p>
  <p><%= player.nationality %></p>
  <p><%= player.dob %></p>
<% end %>